@import 'leaflet/dist/leaflet.css';
@import "tailwindcss";

:root {
    --feasto-gradient: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

html,
body,
#root {
    height: 100%;
}

body {
    background: var(--feasto-gradient);
}

/* form inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 6px rgba(2, 6, 23, 0.06);
}